<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Home/Twitter</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script defer src=/js/eventHandler.js></script>
	</head>
	<body>
		<form id="tweetForm">
			<input type="text" id="username" name="username">
			</br>
			<input type="text" id="tweet" name ="tweet">
			</br>
			<input type="submit" value="Submit">
		</form>
		<div id="tweetsContainer">

		</div>
	</body>
</html>
