$blue: rgba(29, 161, 242, 1);
$faded-blue: rgba(29, 161, 242, 0.2);
$border-light-gray: rgba(211, 211, 211, 0.8);

@import "icons";
@import "structure";
@import "tweet";
@import "tweetform";
@import "news";

body {
	margin: 0;
}

::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#noMoreTweets {
	font-family: "Inter", sans-serif;
	font-size: 0.9rem;
	color: rgb(71, 71, 71);
	font-weight: 400;
	text-align: center;
	margin-top: 1rem;
}
